@@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");

* {
    box-sizing: border-box;
}

body {
    @@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");
    --h: 212deg;
    --l: 43%;
    --brandColor: hsl(var(--h), 71%, var(--l));
    font-family: Montserrat, sans-serif;
    margin: 0;
    background-color: whitesmoke;
}

p {
    margin: 0;
    line-height: 1.6;
}

ol {
    list-style: none;
    counter-reset: list;
    padding: 0 1rem;
}

li {
    --stop: calc(100% / var(--length) * var(--i));
    --l: 62%;
    --l2: 88%;
    --h: calc((var(--i) - 1) * (180 / var(--length)));
    --c1: hsl(var(--h), 71%, var(--l));
    --c2: hsl(var(--h), 71%, var(--l2));
    position: relative;
    counter-increment: list;
    max-width: 45rem;
    margin: 2rem auto;
    padding: 2rem 1rem 1rem;
    box-shadow: 0.1rem 0.1rem 1.5rem rgba(0, 0, 0, 0.3);
    border-radius: 0.25rem;
    overflow: hidden;
    background-color: white;
}


    li::before {
        content: '';
        display: block;
        width: 100%;
        height: 1rem;
        position: absolute;
        top: 0;
        left: 0;
        background: linear-gradient(to right, var(--c1) var(--stop), var(--c2) var(--stop));
    }

h3, label {
    @@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");
    display: flex;
    align-items: baseline;
    margin: 0 0 1rem;
    color: black;
}

    h3::before {
        @@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 0 0 auto;
        margin-right: 1rem;
        width: 3rem;
        height: 3rem;
        content: counter(list);
        padding: 1rem;
        border-radius: 50%;
        background-color: var(--c1);
        color: white;
    }

.sin-elementos {
    background-color: #ffcccc; /* Color de fondo rojo claro */
    color: #990000; /* Color de texto rojo oscuro */
    font-weight: bold; /* Texto en negrita */
    text-align: center; /* Centrar el texto */
    padding: 10px; /* Espaciado interno */
    border: 2px dashed #990000; /* Borde punteado */
    border-radius: 5px; /* Bordes redondeados */
    margin-top: 15px; /* Separación superior */
}
.book-cover {
    width: 150px;
    height: auto;
    object-fit: cover;
}
    .return-button {
    display: block;
    margin-top: 10px;
    padding: 8px 16px;
    font-size: 14px;
    background-color: #007BFF;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

    .return-button:hover {
        background-color: #0056b3;
    }


@media (min-width: 40em) {
    @@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");
    li {
        margin: 3rem auto;
        padding: 3rem 2rem 2rem;
    }

    h3 {
        font-size: 2.25rem;
        margin: 0 0 2rem;
    }

        h3::before {
            margin-right: 1.5rem;
        }
}

/* Contenedor del menú de ordenamiento */
.sort-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

    /* Etiqueta del menú de ordenamiento */
    .sort-container label {
        margin-right: 10px;
        color: black;
        font-weight: bold;
    }

    /* Menú desplegable */
    .sort-container select {
        padding: 5px;
        font-size: 16px;
        border: 1px solid #ddd;
        border-radius: 5px;
        margin-right: 10px;
    }

    /* Botón de ordenamiento */
    .sort-container .sort-button {
        padding: 5px 10px;
        background-color: #007BFF;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

        .sort-container .sort-button:hover {
            background-color: #0056b3;
        }

.book-cover {
    width: 150px;
    height: auto;
    object-fit: cover;
}

p, h3 {
    color: black;
}

.error-message {
    color: red;
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
}

.sin-elementos {
    background-color: #ffcccc; /* Color de fondo rojo claro */
    color: #990000; /* Color de texto rojo oscuro */
    font-weight: bold; /* Texto en negrita */
    text-align: center; /* Centrar el texto */
    padding: 10px; /* Espaciado interno */
    border: 2px dashed #990000; /* Borde punteado */
    border-radius: 5px; /* Bordes redondeados */
    margin-top: 15px; /* Separación superior */
}

.return-button {
    display: block;
    margin-top: 10px;
    padding: 8px 16px;
    font-size: 14px;
    background-color: #007BFF;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

    .return-button:hover {
        background-color: #0056b3;
    }
